.title {
  color: #333;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
}
.text {
  color: #777;
  padding-left: 50px;
  padding-right: 50px;
}
.btn {
  display: block;
  justify-content: left;
  width: 150px;
  padding: 8px 0;
  margin-top: 30px;
  margin-left: 50px;
  background: #4979ff;
  border-radius: 4px;
  color: white;
  text-align: center;
}
.btn:hover {
  background: #181818;
  color: white;
}

.single {
  padding: 2px 16px;
  background: #fff;
  display: block;
  margin: 20px 50px;
  border-left: 8px solid #fff;
}

.single:hover {
  border-left: 8px solid #4979ff;
}
